header {
    margin: 0 auto;
    padding-left: 50px;
    margin-bottom: 199px;
    font-family: 'Brandon Grotesque';
}
.logo1 {
    padding-bottom: 0;
    padding-right: 50px;
    vertical-align: middle;    
    font-family: 'Brandon Grotesque';
}
.logo2{
    position: relative;
    left: 900px;
    bottom: -3px;
    
}
nav {
    display: inline-block;
    vertical-align: middle;
    
}
 
li {
    font-size: 18px;
    margin-right: 66px;
    display: inline-block;
    padding-left: 40px;
}
div{
    margin-top: -170px;
    height: 400px;
    background-color: #306B34;
    font-family: 'Moon Dance', cursive;
  

}
.logo5{
    margin-left: 70px;
    margin-top: -100px;
}
.text1{
    width: 306px;
    height: 291px;
    margin-left: 863px;
    margin-top: -250px;
    font-size: 20px;
    color: white;


}
.logo3{
    margin-left: 863px;
    padding-top: 120px;
   
}
.logo4{
    margin-left: 600px;
    margin-top: 500px;
  

}
.text2{
    margin-left: 300px;
    margin-top: 30px;
    width: 958px;
    height: 126px;
    font-size: 20px;
    color: #7F7F7F;
}
footer{
    background-color: #306B34;
    margin-top: 600px;
    color: #F4F4F1;
}
.head1{
    position: relative;
    bottom: -15px;
    margin-left: 50px;
}
.head2{
    padding-bottom: 20px;
    padding-left: 1100px;
}



